.data-table-export thead th{
    background: #FFFE99;
}

.data-table-export tbody td:nth-child(7),
.data-table-export tbody td:nth-child(8),
.data-table-export tbody td:nth-child(9){
    background: #01B1F0;
}

.data-table-export-aster tbody td:nth-child(7),
.data-table-export-aster tbody td:nth-child(8),
.data-table-export-aster tbody td:nth-child(9){
    background: #fff;
}

table tr.deactivated td{
    background: #eee;
}

table.purchase-by-document-sub-table{
    width: 100%;
    font-size: 14px;
}

table.purchase-by-document-sub-table td:first-child{
    text-align: right;
}
table.purchase-by-document-sub-table td:nth-child(2){
    text-align: left;
}

table.purchase-by-document-sub-table td{
    width: 50%;
    padding: 6px;
}


.edit-icon {
    display: none;
    cursor: pointer;
    margin-left: 10px;
}

.editable:hover .edit-icon {
    display: inline-block;
    color: #0f6848;
}

#editModal, #missing-modal{
    color: #000;
}

#editModal input, #missing-modal input{
    color: #000;
}

